<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Bryan McBride">
    <title>GeoCODE</title>
		<link rel="stylesheet" href="./css/bootstrap.min.css">
		<link rel="stylesheet" href="./css/Font-Awesome-4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="./resources/leaflet/leaflet.css">
		<link rel="stylesheet" href="./css/bootstrap-table.min.css">
		<link rel="stylesheet" href="./css/c3.min.css">
		<!--link rel="stylesheet" href="assets/css/esri-leaflet-geocoder.css"-->
		<link rel="stylesheet" href="./resources/vendor/jQuery-QueryBuilder/query-builder.default.min.css">
		<link href="resources/BootstrapDialog/css/bootstrap-dialog.min.css" rel="stylesheet">
		<link href="resources/animate/animate.css" rel="stylesheet">
		<link rel="stylesheet" href="./resources/easyPrint/easyPrint.css"/>
		<link rel="stylesheet" href="./css/add_app.css">
		<link rel="stylesheet" href="./css/app.css">
 
  </head>

  <body>

    <div id="loading-mask" class="modal-backdrop">
      <div class="loading-indicator">
        <div class="progress progress-striped active">
          <div class="progress-bar progress-bar-info loading-bar"></div>
        </div>
      </div>
    </div>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="navbar-brand">GeoCODE </span>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <!--li><a id="about-btn" href="#" data-toggle="collapse" data-target=".navbar-collapse.in"><i class="fa fa-question-circle fa-white"></i> Acerca de...</a></li-->
            <!--li><a id="chart-btn" href="#" data-toggle="collapse" data-target=".navbar-collapse.in"><i class="fa fa-bar-chart fa-white"></i> Gráficos</a></li--->
			<li><a id="extent-btn" href="#" data-toggle="collapse" data-target=".navbar-collapse.in"><i class="fa fa-arrows-alt fa-white"></i> Vista Completa</a></li>
            <li class="hidden-md hidden-lg"><a id="filter-btn" href="#" data-toggle="collapse" data-target=".navbar-collapse.in"><i class="fa fa-filter fa-white"></i> Consultas</a></li>
			<li class="dropdown">
              <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-laptop fa-white"></i> <span id="view">Modo de Vista</span><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#" data-toggle="collapse" data-target=".navbar-collapse.in" name="view" id="map-graph"><i class="fa fa-th-large"></i> Vista Dividida</a></li>
                <li><a href="#" data-toggle="collapse" data-target=".navbar-collapse.in" name="view" id="map-only"><i class="fa fa-map"></i> Vista de Mapa</a></li>
                <li><a href="#" data-toggle="collapse" data-target=".navbar-collapse.in" name="view" id="graph-only"><i class="fa fa-table"></i> Vista de Tabla</a></li>
              </ul>
            </li>
			<li class="dropdown">
              <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-globe fa-white"></i> <span id="geoCODE">Georreferenciador masivo</span><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#" data-toggle="collapse" data-target=".navbar-collapse.in" name="geoCODE" id="masivo_directo"><i class="fa fa-file-text"></i> Georreferenciación Por Dirección</a></li>
                <li><a href="#" data-toggle="collapse" data-target=".navbar-collapse.in" name="geoCODE" id="masivo_inverso"><i class="fa fa-file-text-o"></i> Georreferenciación Por Coordendas</a></li>
              </ul>
            </li>
			
          </ul>
          <ul class="nav navbar-nav navbar-right">
                <li class="dropdown ">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li id="perfil-text"><h5><span  id="nombreUsuario"></span><br><small id="perfilUsuario"><i class="fa fa-user fa-fw"></i> </small></h5>
                        </li>
                        <li class="divider"></li>
                        <li id="cambioClave-btn"><a href="#"><i class="fa fa-gear fa-fw"></i> Cambiar Contraseña</a>
                        </li>
                        <li class="divider"></li>
                        <li id="cerrarSession-btn"><a href="./"><i class="fa fa-sign-out fa-fw"></i> Cerrar sesión</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                    </a>
                </li>
           </ul>
        </div>
      </div>
    </div>

    <div id="map-container">
    	
      	<div id="map"> </div>
      	<div class="panel panel-default" id="IndividualPanel">
	  		<div class="panel-body">
	  			<div class="form-group">
				  <label for="IndivGeo">Direccion o (X;Y):</label>
				  <input type="text" class="form-control" id="IndivGeo">
				</div>
	  		</div>
		</div>
    </div>
	

    <div id="table-container">
      <div id="toolbar" style="width: 400px;">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default" data-toggle="modal" data-target="#filterModal">
            <i class="fa fa-filter"></i> Filtrar 
          </button>
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-cloud-download"></i> Exportar <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#" id="download-csv-btn"><i class="fa fa-file-text-o"></i> CSV</a></li>
              <li><a href="#" id="download-excel-btn"><i class="fa fa-file-excel-o"></i> Excel</a></li>
              <li><a href="#" id="download-pdf-btn"><i class="fa fa-file-pdf-o"></i> PDF</a></li>
              <li><a href="#" id="download-shp-btn"><i class="fa fa-map-o"></i> Shape</a></li>
            </ul>
          </div>
        </div>
        <span id="feature-count" class="text-muted" style="padding-left: 5px; "></span>
      </div>
      <table id="table"></table>
    </div>

    <div class="modal fade" id="aboutModal" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Bienvenido a GeoCODE!</h4>
          </div>
          <div class="modal-body">
            <ul class="nav nav-tabs" id="aboutTabs">
              <li class="active"><a href="#about-tab" data-toggle="tab"><i class="fa fa-question-circle"></i> Acerca del projecto</a></li>
              <li><a href="#configuration-tab" data-toggle="tab"><i class="fa fa-gear"></i> Configuracion</a></li>
            </ul>
            <div class="tab-content" id="aboutTabsContent">
              <div class="tab-pane fade active in" id="about-tab">
                
              </div>
              <div class="tab-pane fade" id="configuration-tab" >
                
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
	
	
	
	<div class="modal fade" id="MasivoInversoModal" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Geocodificacion Inversa!</h4>
          </div>
          <div class="modal-body">
            	 <div class="row">
			      <div class="col-xs-12">
			        <div class="panel panel-default">
			          <div class="panel-body">
			            <center><h2>Cargar Archivo</h2></center>
			            <div class="form-group">
						  <label for="sel1">Sistema Referencia:</label>
						  <select class="form-control" id="srid">
						    <option value="4326">Coordenadas geográficas (WGS84)</option>
						    <option value="98185">Coordenadas Planas (MAGNA-SIRGAS/Cali)</option>
						  </select>
						</div>
			           
			          </div>
			        </div>
			      </div>
			    </div>
			      <input id="upload-input" type="file" name="uploads[]" accept=".csv"></br>

          </div>
          <div class="modal-footer">
          	    <center><button class="btn btn-primary btn-lg upload-btn" type="button">Subir Archivo</button></center>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="MasivoDirectoModal" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Geocodificacion Directa!</h4>
          </div>
          <div class="modal-body">
            	 <div class="row">
			      <div class="col-xs-12">
			        <div class="panel panel-default">
			          <div class="panel-body">
			            <center><h2>Cargar Archivo</h2></center>
			            <div class="form-group">
						</div>
			           
			          </div>
			        </div>
			      </div>
			    </div>
			    <input id="uploadDirecto-input" type="file" name="uploadDirecto[]" accept=".csv"></br>

          </div>
          <div class="modal-footer">
          	<center><button class="btn btn-primary btn-lg uploadDirecto-btn" type="button">Subir Archivo</button></center>
          </div>
        </div>
      </div>
    </div>
	<div class="modal fade" id="claveModal" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Cambiar Contraseña!</h4>
          </div>
          <div class="modal-body">
            	<form role="form">
            		<div class="form-group">
            			<label for="id_text">Contraseña Anterior:</label>
            			<input type="password" class="form-control" id="old_pass" placeholder="Ingrese contraseña anterior...">
            		</div>
            		<div class="form-group">
            				<label for="newpass1"> Nueva contraseña:</label>
            				<input type="password" class="form-control" id="newpass1" placeholder="Ingrese contraseña">
            		</div>
            		<div class="form-group">
            				<label for="newpass2">Repetir contraseña:</label>
            				<input type="password" class="form-control" id="newpass2" placeholder="Repetir contraseña">
            		</div>
            	</form>
          </div>
          <div class="modal-footer">
          	<button type="button" class="btn btn-primary" data-dismiss="modal" id="CambiarClave">Cambiar</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>

	<!--div class="modal fade" id="chartModal" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Gráficos</h4>
          </div>
          <div class="modal-body" style="overflow: auto;">
            <div role="tabpanel">
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#barrio-chart" aria-controls="reports" role="tab" data-toggle="tab">Barrios</a></li>
                <li role="presentation"><a href="#comuna-chart" aria-controls="charts" role="tab" data-toggle="tab">Comunas</a></li>

              </ul>
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="barrio-chart"></div>
                <div role="tabpanel" class="tab-pane" id="comuna-chart"></div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div-->
	

    <div class="modal fade" id="filterModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Filtrar <span id="record-count" class="badge pull-right" style="margin-right: 15px; margin-top: 2px;"></span></h4>
          </div>
          <div class="modal-body">
            <div id="query-builder"></div>
          </div>
          <div class="modal-footer">
            <!--button type="button" class="btn btn-default pull-left" id="view-sql-btn"><i class="fa fa-database"></i> SQL</button-->
            <button type="button" class="btn btn-info" id="reset-filter-btn"><i class="fa fa-undo"></i> Limpiar</button>
            <button type="button" class="btn btn-primary" id="apply-filter-btn"><i class="fa fa-filter"></i> Aplicar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="featureModal" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Informaci&oacute;n</h4>
          </div>
          <div class="modal-body" id="feature-info"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>

    <script src="./resources/js/jquery-2.1.4.min.js"></script>
    <script src="./resources/leaflet/leaflet.js"></script>
    <script src="./resources/bootstrap/js/bootstrap.min.js"></script>
    <script src="./resources/js/bootstrap-table.min.js"></script>
    <script src="./resources/d3/d3.min.js"></script>
    <script src="./resources/js/c3.min.js"></script>
    <script src="./resources/js/esri-leaflet.js"></script>
    <script src="./resources/easyPrint/leaflet.easyPrint.js"></script>
    <!--script src="assets/js/esri-leaflet-geocoder.js"></script-->
    <script src="./resources/js/alasql.min.js"></script>
    <script src="./resources/vendor/jQuery-QueryBuilder/query-builder.standalone.min.js"></script>
    <script src="./resources/vendor/tableExport/tableExport.min.js"></script>
    <script src="./resources/vendor/tableExport/libs/FileSaver/FileSaver.min.js"></script>
    <script src="./resources/vendor/tableExport/libs/html2canvas/html2canvas.min.js"></script>
    <script src="./resources/vendor/tableExport/libs/jsPDF/jspdf.min.js"></script>
    <script src="./resources/vendor/tableExport/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js"></script>
	<script src="resources/BootstrapDialog/js/bootstrap-dialog.min.js"></script>	
	<script src="resources/bootstrap-notify/bootstrap-notify.min.js"></script>    
    <script src="resources/socket.io/socket.io.min.js"></script>
    <script src="resources/Crypto/core-min.js"></script>
    <script src="resources/Crypto/aes.js"></script>
  	<script src="javascripts/Config.js"></script>
    <script src="javascripts/Func.js"></script>
    <script src="javascripts/wms.js"></script>
    <script src="javascripts/add_app.js"></script>
    <script src="javascripts/app.js"></script>
    <script src="javascripts/Main.js"></script>
    <script src="javascripts/upload.js"></script>

    
  </body>
</html>
