<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>GeoCODE</title>
    <link rel="stylesheet" href="resources/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/login.css">

  
</head>

<body>
  <body>
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h2> GeoCODE</h2>
				<img src="./img/Logo.JPG" alt="HTML5 Icon" style="width:180px;height:180px;">				
			</div>

			<div class="login-form">
				<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="usuario" id="usuario">
				<label class="login-field-icon fui-user" for="usuario"></label>
				</div>

				<div class="control-group">
				<input type="password" class="login-field" value="" placeholder="contraseña" id="contrasena">
				<label class="login-field-icon fui-lock" for="contrasena"></label>
				</div>

				<a class="btn btn-primary btn-large btn-block"   id="ingresar">Ingresar</a>
			</div>
		</div>
	</div>
</body>
  
  <script src="resources/jquery/jquery.min.js"></script>
  <script src="resources/bootstrap/js/bootstrap.min.js"></script>
  <script src="resources/bootbox/bootbox.min.js"></script>
  <script src="resources/socket.io/socket.io.min.js"></script>
  <script src="resources/Crypto/core-min.js"></script>
  <script src="resources/Crypto/aes.js"></script>
  <script src="javascripts/Config.js"></script>
  <script src="javascripts/Func.js"></script>
  <script src="javascripts/acceso/acceso.js"></script>
  <script src="javascripts/Main.js"></script>
  
  
</html>
